<div id="task-detail">
  <div class="container _task-container">
    <div class="_header">
      <h2>タスク詳細</h2>
    </div>
    <div class="_contents">
      <div class="_id _item">
        <div class="_label"><p>ID：</p></div>
        <div class="_value"><p>{{ task.id }}</p></div>
      </div>
      <div class="_name _item">
        <div class="_label"><p>名前：</p></div>
        <div class="_value"><p>{{ task.name }}</p></div>
      </div>
      <div class="_priority _item">
        <div class="_label"><p>優先度：</p></div>
        <div class="_value"><p>{{ task.priority }}</p></div>
      </div>
      <div class="_deadline _item">
        <div class="_label"><p>締め切り：</p></div>
        <div class="_value"><p>{{ task.deadline }}</p></div>
      </div>
      <div class="_description _item">
        <div class="_label"><p>詳細：</p></div>
        <div class="_value"><p>{{ task.description }}</p></div>
      </div>
    </div>
    <button routerLink="/tasks">一覧へ戻る</button>
  </div>
</div>
