<div id="task-edit">
  <div class="container _task-container">
    <div class="_header">
      <h2>タスク編集</h2>
    </div>
    <form (ngSubmit)="hundleSaveTask()" [formGroup]="taskForm">
      <div class="_contents">
        <div class="_id _item">
          <div class="_label"><p>ID：</p></div>
          <div class="_value">
            <p>{{ taskForm.controls['id'].value}}</p>
          </div>
        </div>
        <div class="_name _item">
          <div class="_label"><p>名前：</p></div>
          <div class="_value">
            <input type="text" formControlName="name">
          </div>
        </div>
        <div class="_priority _item">
          <div class="_label"><p>優先度：</p></div>
          <div class="_value">
            <input type="text" formControlName="priority">
          </div>
        </div>
        <div class="_deadline _item">
          <div class="_label"><p>締め切り：</p></div>
          <div class="_value">
            <input type="text" formControlName="deadline">
          </div>
        </div>
        <div class="_description _item">
          <div class="_label"><p>詳細：</p></div>
          <div class="_value">
            <textarea type="text" formControlName="description"></textarea>
          </div>
        </div>
        <button type="submit">保存する</button>
      </div>
    </form>
  </div>
</div>
