<div id="task-edit">
  <div class="container _task-container">
    <div class="_header">
      <h2>タスク編集</h2>
    </div>
    <form (ngSubmit)="hundleSaveTask()" [formGroup]="taskForm">
      <div class="_contents">
        <div class="_id _item">
          <div class="_label"><p>ID：</p></div>
          <div class="_value">
            <p>{{ taskForm.controls['id'].value}}</p>
          </div>
        </div>
        <div class="_name _item">
          <div class="_label"><p>名前：</p></div>
          <div class="_value">
            <input type="text" formControlName="name" required>
            <div
              class="_alert"
              *ngIf="name?.invalid && (name?.dirty || name?.touched)"
            >
              <span *ngIf="name?.errors?.['required']">入力してください</span>
              <span *ngIf="[name?.errors?.['errorWordValidation']]">読者にいいねもらおうと依頼するのは遠慮しなさい！</span>
            </div>
          </div>
        </div>
        <div class="_priority _item">
          <div class="_label"><p>優先度：</p></div>
          <div class="_value">
            <input type="text" formControlName="priority" required maxlength="1">
            <div
              class="_alert"
              *ngIf="priority?.invalid && (priority?.dirty || priority?.touched)"
            >
              <span *ngIf="priority?.errors?.['required']">入力してください</span>
              <span *ngIf="priority!.errors?.['maxlength']">1文字で入力してください</span>
            </div>
          </div>
        </div>
        <div class="_deadline _item">
          <div class="_label"><p>締め切り：</p></div>
          <div class="_value">
            <input type="text" formControlName="deadline">
          </div>
        </div>
        <div class="_description _item">
          <div class="_label"><p>詳細：</p></div>
          <div class="_value">
            <textarea type="text" formControlName="description"></textarea>
          </div>
        </div>
        <p *ngIf="taskForm.invalid; else submitBtn">適切に入力してください</p>
        <ng-template #submitBtn>
          <button type="submit" [class._enter-able]="taskForm.valid">保存する</button>
        </ng-template>
      </div>
    </form>
  </div>
</div>
